<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="felipebueno.rockpaperscissors"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Rock-Paper-Scissors"
        android:theme="@android:style/Theme.Dialog" >
		<activity
		    
		    android:name=".RPSActivity"
		    android:label="">
		    
		    <intent-filter>
		        <action android:name="android.intent.action.VIEW" />
		    </intent-filter>
		    
		    <meta-data android:name="sneer:interaction-type" android:value="SESSION" />
		    <meta-data android:name="sneer:tuple-type" android:value="rock-paper-scissors/move" />
		    <meta-data android:name="sneer:menu-caption" android:value="Play Rock Paper Scissors" />
		    <meta-data android:name="sneer:menu-icon" android:resource="@drawable/ic_launcher" />
		</activity>
    </application>

</manifest>