<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sneer.tutorial.rockpaperscissors"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Rock-Paper-Scissors"
        android:theme="@style/AppTheme" >
        <activity android:name=".RPSLauncherActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RPSActivity"
            android:label="Rock Paper Scissors" >
            <intent-filter>
                <!-- 
                 <data android:mimeType="rock-paper-scissors/move" />
                <action android:name="android.intent.action.VIEW" />
				-->
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="sneer.tutorial.rockpaperscissors.CHALLENGE" />
            </intent-filter>
        </activity>
    </application>

</manifest>