<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="felipebueno.lizardspock"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Lizard Spock"
        android:theme="@android:style/Theme.Dialog" >
        <activity
            android:name=".LizardSpockActivity"
            android:excludeFromRecents="true"
            android:label="" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
		    
		    <meta-data android:name="sneer:partner-session-type" android:value="lizard-spock" />
		    <meta-data android:name="sneer:menu-caption" android:value="Play Lizard Spock" />
		    <meta-data android:name="sneer:menu-icon" android:resource="@drawable/ic_launcher" />
		</activity>
    </application>

</manifest>